<div fxFlex="25%" fxFlex.xs="100%" fxLayoutGap="25px" fxLayout.lt-xs="column">
  <h2 class="mat-display-1">Search Products</h2>
  <mat-form-field [style.width.%]="100" floatLabel="always" style="background-color:saddlebrown">
    <input type="text" placeholder="Search Products" aria-label="Number" matInput (keyup)="applyFilter($event)">
  </mat-form-field>


<div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="column"  fxLayout.lt-sm="column"   fxLayoutGap="15px">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let element" > <mat-slide-toggle [checked]="element.status"></mat-slide-toggle></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="SKU">
      <th mat-header-cell *matHeaderCellDef> SKU </th>
      <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <ng-container matColumnDef="retailPrice">
        <th mat-header-cell *matHeaderCellDef> Retail Price </th>
        <td mat-cell *matCellDef="let element"> {{element.retailPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="salePrice">
        <th mat-header-cell *matHeaderCellDef> Sale Price </th>
        <td mat-cell *matCellDef="let element"> {{element.salePrice}} </td>
      </ng-container>

      <ng-container matColumnDef="lowestPrice">
        <th mat-header-cell *matHeaderCellDef> Lowest Price </th>
        <td mat-cell *matCellDef="let element"> {{element.lowestPrice}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

  </div>
